.MenuNav {
    display:flex;
    justify-content: space-around;
    width:800px;
    margin:0 auto;
    padding:15px;
    /* border-bottom:1px solid var(--darkgray) */
}

.MenuNavOption {
    font-size:1.25em;
    font-weight:300;
    color:var(--darkgray);
    padding:5px 20px 15px;
    cursor:pointer;
}

.ActiveMenu {
    color:var(--orange);
    border-bottom:3px solid var(--orange);
}

.ReviewContainer {
	width:1000px;
	max-width:100%;
	margin:10px auto;
}

.ReviewCard {
	border:1px solid var(--darkgray);
	border-radius:20px;
	padding:20px;
	background:white;
	margin:10px 0;
	cursor:pointer;
}

.ReviewCard:hover {
	box-shadow: 0 0 8px var(--orange);
}

.ReviewedTruck {
	margin-bottom:0;
}