.CreateReviewPage .reviewForm {
    width:600px;
    margin:20px auto;
}

.CreateReviewPage .minutesRange {
    width: 300px;
    margin:20px 0;
}

.CreateReviewPage .reviewRating {
    width: 300px;
    margin:20px 0;
}

.SubmitButton {
    border-radius:6px;
    font-size:1.25em;
    border:2px solid var(--orange);
    background-color: white;
    font-weight:300;
    margin-top:20px;
    padding:2px 10px;
    transition:.25s;
    color:black;
}

.SubmitButton:hover {
    background-color: var(--orange);
    border-color:var(--orange);
    color:white;
}