.Icon {
	cursor: pointer;
}

.Filled {
	color:red;
}

.Filled:hover {
	color:black;
}

.Empty {
	color:black;
}

.Empty:hover {
	color:red;
}

.Circle {
	background-color:white;
	padding:5px;
	border-radius:50%;
	box-shadow: 0 0 5px var(--black);
}