.searchbar {
    margin-left: 20%;

}

.searchbar-form {
    display: flex;
    justify-content: center;

}

.searchbar-input {
    width: 200px;
    margin:0 1px;
    border-radius:5px;
}

.search-bar-button {
    border:none;
    border-radius: 0 10px 10px 0;
    background:none;
    margin-left:-2px;
}