.searchbar {
    margin-left: 20%;

}

.form {
    display: flex;
    justify-content: center;

}

.input {
    width: 100%;
    display: block;
    padding-left: 20px;
    border-radius: 2%;
}

.icon {
    position: relative;
    left: 18px;
    top: 7px;
    font-size: 20px;
    color: var(--orange);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}