.pricelist{
    padding: 5px 0;
}

.pricelist  > div > button {
    border: none;
    background: none;
}

.pricelist > div {
    display: flex;
    align-items: baseline;
    gap: 5px;
    justify-content: space-between;
    align-items: flex-start;
}

.priceButton {
    color: grey;
    background-color: white;
    border-radius: 40px;
    border:1px solid var(--darkgray);
    margin-right: 10px; 
    padding: 2px 10px;
    transition:.25s;
}

.priceButton:hover {
    background-color:var(--orange);
    border-color:var(--orange);
    color:#fff;
}

.clearButton {
    color:var(--darkgray)
}

.selectedPrice {
    background-color:var(--orange);
    border-color:var(--orange);
    color:#fff;
}