@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Shade&family=Merriweather:ital@0;1&family=Playfair+Display:ital@1&family=Poppins:wght@200;300;500;700&family=Space+Mono&family=Ubuntu+Mono&family=Work+Sans&display=swap');

.App{
    font-family: 'Poppins', sans-serif;
    font-weight:200;
    background-color: var(--lightgray);
}

/* MENU STYLES SINCE THEY'RE USED 5 TIMES */

.menu-section {
    columns:2 auto;
    margin:20px 0 50px
}

.dish-topline {
    display:flex;
    justify-content: space-between;
}

.dish {
    width:75%;
    break-inside: avoid;
}

.dish-name {
    font-weight: 700;
    margin-bottom:0;
}

.dish-price {
    margin-bottom:0;
    color:var(--darkgray)
}

/* SPINNER COMPONENT */

.spinner-div {
	width:100%;
	text-align: center;
	margin:220px 0;
}

.spinner-div > .spinner {
	color:var(--orange);
	font-size: 150px;
    height: 150px;
    width: 150px;
}

