*{
    box-sizing: border-box;
}

:root{
    --orange: #F2782F; 
    --black: #000000; 
    --white: #ffffff; 
    --button-border-radius: 10%;
    --button-background: var(--white);
    --button-margin: 15px;
    --buton-border: 2px solid var(--orange);
    --button-padding: 6px 15px;
    --buton-font-size: 15px;

}




body{
    margin: 0; 
}