.StarRating{
    border-top: solid grey;
    padding: 5px 0;
}

.StarRating > button {
    color: grey;
    border: none;
    background: none;
    padding: 0 2px;
}

.StarRating > button > span:hover {
    color: var(--orange)
}

.StarRating > div {
    display: flex;
    align-items: baseline;
    gap: 5px;
    justify-content: space-between;
}

.StarRating > div > button {
    color: grey;
    border: none;
    background: none;
}