.ResultPage {
    max-width:100%;
    height:80vh
}

.ResultPage > h1{
    text-align: center;
}

.ResultPage > div {
    display: flex;
    align-items: flex-start;
    gap: 25px;
    padding: 0 20px;
}

.firstColumn {
    flex: 1;
}

.secondColumn {
    flex: 3;
    overflow: auto;
    height: 70vh;
}

.thirdColumn {
    flex: 2;
} 